<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur LE super site de gossip !</h1>
    	<p>La liste des potins arrive et en attendant, tu peut aller 
    		<a href="/gossips/new/">créer un nouveaux potin</a> </p>
  </body>
</html>